.menu {
  background-color: #ffffff;

  .f-icon {
    display: inline-block;
    width: 45px;
    height: 40px;
    padding: 11px 10px;
    vertical-align: top;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: #34495e;
    }

    img {
      display: block;
      margin: auto;
      width: 18px;
    }
  }
}