.board {
  background-color: #e67e22;
  background: url(../../assets/test/background_1.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  height:100%;
  z-index: 0;

  .cover {
    // background-color: rgba(0,0,0,0.1);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
  }

  .board-header {
    position: relative;
    width: 100%;
    height: 40px;
    overflow: hidden;
    vertical-align: middle;
    color: #ffffff;
    background-color: #d35400;
    opacity: 0.8;

    .back-button-box {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      padding: 11px;
      vertical-align: middle;
      transition: 0.2s;
      cursor: pointer;

      img {
        display: block;
        margin: auto;
        width: 18px;
      }
    }

    .title {
      display: inline-block;
      font-weight: 700;
      font-size: 14px;
      line-height: 40px;
      vertical-align: middle;
    }

    .button-box {
      position: absolute;
      top: 0px;
      right: 0px;
      height: 40px;

      .flat-button {
        display: inline-block;
        width: 40px;
        height: 40px;
        padding: 11px;
        vertical-align: middle;
        transition: 0.2s;
        cursor: pointer;

        img {
          display: block;
          margin: auto;
          width: 18px;
        }
      }
    }
  }

  .board-menu {
    position: absolute;
    top: 40px;
    left: 0px;
    width: 200px;
    height: calc(100% - 40px);
    background-color: #d35400;
    overflow: auto;
    z-index: 15;
    transition: 0.2s;

    .board-menu-inner {

      .menu-header {
        padding: 5px 15px;
        margin-top: 15px;
        color: #ffffff;
        font-weight: 700;
        font-size: 10px;
      }

      .item {
        width: calc(100% - 10px);
        margin-left: 10px;
        padding: 5px 10px;
        color: #ffffff;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          margin-left: 5px;
          width: calc(100% - 5px);
        }

        img {
          width: 14px;
          margin-right: 10px;
        }

        span {
          font-size: 12px;
          font-weight: 700;
        }
      }
    }
  }

  .board-menu-hidden {
    left: -200px;
  }

  .board-description {
    position: relative;
    min-height: 40px;
    padding: 10px 10px 10px 10px;
    background-color: #d35400;
    color: #ffffff;
    font-weight: 700;
    font-size: 13px;
    transition: 0.2s;
    opacity: 0.8;

    .button-box {
      position: absolute;
      top: 0px;
      right: 0px;
    }
  }

  .board-description-hidden {
    height: 0px;
    max-height: 0px;
    min-height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: hidden;
  }

  .board-content {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;

    .inner {
      display: block;
      height: 100%;
      overflow-x: auto;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;

      .panel {
        display: inline-block;
        margin: 15px 5px;
        width: 300px;
        border-radius: 4px;
        background-color: #dddddd;
        vertical-align: top;
        overflow: hidden;
        
        &:first-of-type {
          margin-left: 20px;
        }

        &:last-of-type {
          margin-right: 20px;
        }

        .panel-title {
          position: relative;
          height: 40px;
          padding: 13px;
          color: #333333;
          font-weight: 700;
          font-size: 14px;

          .panel-option {
            position: absolute;
            top: 10px;
            right: 15px;
            cursor: pointer;

            img {
              width: 15px;
            }
          }
        }

        .task-list {
          min-height: 10px;
          height: calc(100% - 80px);
          padding-bottom: 5px;
          overflow: auto;

          .task {
            margin: 5px 10px 8px 10px;
            background-color: #ffffff;
            border-radius: 4px;
            font-weight: 700;
            color: #333333;
            cursor: pointer;

            .thumbnail {
              position: relative;
              width: 100%;
              height: 120px;
              overflow: hidden;
              border-top-left-radius: 4px;
              border-top-right-radius: 4px;
              background-color: #bbbbbb;

              img {
                width: 100%;
                height: 120px;
                object-fit: cover;
              }
            }

            .task-inner {
              padding: 5px 10px;

              .id {
                margin-right: 5px;
                color: #666666;
                font-size: 12px;
                vertical-align: top;
              }
  
              .name {
                word-wrap: break-word;
                white-space: pre-wrap;
                font-size: 14px;
                vertical-align: top;
              }
  
              .patch {
                width: 100%;
                white-space: pre-line;
  
                .item {
                  display: inline-block;
                  margin-right: 10px;
  
                  img {
                    display: inline-block;
                    width: 10px;
                    margin-right: 3px;
                    vertical-align: middle;
                  }
  
                  span {
                    font-size: 12px;
                    font-weight: 100;
                    vertical-align: middle;
                  }
  
                  .important {
                    color: #eb2f06;
                  }
                }
              }
              
              .assignee {
                width: 100%;
                text-align: right;
  
                .user {
                  display: inline-block;
                  margin-left: 5px;
  
                  img {
                    width: 30px;
                    border-radius: 50%;
                  }
                }
              }
            }
          }

          .task-add-box {
            cursor: default;

            .task-inner {
              .task-name-label {
                font-size: 10px;
                font-weight: 700;
                color: #666666;
              }

              .task-name-input {
                display: block;
                width: 100%;
                padding: 4px 0px;
                border: 0px;
                border-bottom: 1px solid #bbbbbb;
                font-size: 14px;
                font-weight: 700;
                transition: 0.2s;

                &:focus {
                  border-bottom: 1px solid #2980b9;
                }
              }

              .submit-box {
                margin-top: 6px;
                margin-bottom: 4px;
                text-align: right;

                input[type="button"] {
                  width: 50px;
                  margin-left: 4px;
                  padding: 4px 8px;
                  font-size: 12px;
                  font-weight: 700;
                  color: #ffffff;
                  border: 0px;
                  border-radius: 4px;
                  cursor: pointer;
                }
                
                .save {
                  background-color: #2980b9;
                }
                .cancel {
                  background-color: #95a5a6;
                }
              }
            }
          }
        }

        .panel-add {
          height: 40px;
          padding: 10px 10px;
          font-size: 14px;
          font-weight: 700;
          color: #666666;
          cursor: pointer;
          transition: 0.2s;

          &:hover {
            color: #333333;
          }
        }
      }

      .panel-add-panel {
        height: auto;
      }
    }
  }
}

.setting-dialog {
  width: 600px;
  height: calc(100% - 100px);
  background-color: #f9f9f9;

  .title {
    position: stickey;
    top: 0px;
    padding: 10px 15px;
    color: #666666;
    background-color: #ffffff;
    border-bottom: 1px solid #bbbbbb;
    font-size: 16px;
    font-weight: 700;

    .close-icon {
      display: inline-block;
      position: absolute;
      top: 8px;
      right: 8px;
      padding: 5px;
      border-radius: 4px;
      vertical-align: middle;
      transition: 0.2s;
      cursor: pointer;

      img {
        display: block;
        width: 15px;
      }

      &:hover {
        background-color: #f5f5f5;
      }
    }
  }

  .form {
    padding: 0px 20px 10px 20px;
    overflow: auto;

    .label {
      padding: 15px 3px 7px 3px;
      color: #888888;
      font-size: 14px;
      font-weight: 700;
    }
  
    .board-name, .description {
      display: block;
      width: 100%;
      padding: 10px 10px;
      border: 1px solid #bbbbbb;
      border-radius: 4px;
      color: #333333;
      font-size: 14px;
      transition: 0.2s;
  
      &:focus {
        border: 1px solid #3498db;
      }
    }
  
    .description {
      height: 150px;
      transition: 0.2s;
      resize: none;
    }

    .theme-color {
      display: flex;
      align-items: stretch;

      .color-box {
        display: inline-block;
        width: 100%;
        margin: 5px;
        padding: 5px 10px;
        color: #ffffff;
        border-radius: 4px;
        font-size: 12px;
        font-weight: 700;
        cursor: pointer;
        user-select: none;

        .selected {
          margin-right: 10px;
        }
      }
    }

    .board-member {
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;

      .member-select {
        display: inline-block;
        width: calc(50% - 60px);
        height: 200px;
        border: 1px solid #888888;
        border-radius: 4px;
        background-color: #ffffff;
        vertical-align: top;
        text-align: left;
        overflow: auto;

        .member {
          padding: 5px 10px;
          border-bottom: 1px solid #dddddd;
          font-size: 12px;
          font-weight: 700;
          color: #444444;
          cursor: pointer;

          img {
            width: 12px;
            margin-right: 8px;
            vertical-align: middle;
          }
        }

        .selected {
          background-color: #e8eaf6;
        }
      }

      .control {
        display: inline-block;
        height: 200px;
        vertical-align: middle;
        text-align: center;

        .button {
          width: 60px;
          margin: 50px 25px;
          padding: 3px 5px;
          border: 1px solid #2980b9;
          background-color: #2980b9;
          border-radius: 4px;
          color: #ffffff;
          font-size: 12px;
          font-weight: 700;
          transition: 0.2s;
          user-select: none;
          cursor: pointer;

          &:hover {
            border: 1px solid #3498db;
            background-color: #3498db;
          }
        }
      }
    }

    .flat-radio {
      color: #333333;

      input[type=radio] {
        position: absolute;
        left: -5000px;

        &:checked + .radio {

          &:after {
            background-color: #1abc9c;
            border: 1px solid #1abc9c;
          }
        }
      }

      .radio {
        display: inline-block;
        position: relative;
        margin-right: 15px;
        padding: 5px 10px 5px 35px;
        vertical-align: middle;
        font-weight: 700;
        color: #666666;
        transition: 0.2s;
        cursor: pointer;

        &:after {
          display: block;
          position: absolute;
          top: calc(50% + 2px);
          left: 10px;
          width: 15px;
          height: 15px;
          margin-top: -10px;
          border: 1px solid #bbbbbb;
          background-color: #ffffff;
          border-radius: 50%;
          content: '';
          transition: 0.2s;
        }
      }
    }

    .attachement-list {
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 10px;
      padding-right: 10px;

      .attachement-file {
        position: relative;
        padding: 5px 0px;
        border-bottom: 1px solid #dddddd;

        .attachement-icon {
          width: 14px;
          margin-right: 10px;
        }

        a {
          display: inline-block;
          max-width: 480px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          vertical-align: middle;
          cursor: pointer;
        }

        .close {
          position: absolute;
          top: 8px;
          right: 5px;
          width: 14px;
          cursor: pointer;
        }
      }
    }

    .attachement {
      display: block;
      width: calc(100% - 10px);
      margin: 10px 5px 10px 5px;
      padding: 7px 15px;
      font-weight: 700;
      font-size: 12px;
      border-radius: 4px;
      text-align: center;
      background-color: #eeeeee;
      border: 1px solid #bbbbbb;
      color: #666666;
      transition: 0.2s;
      cursor: pointer;
      &:hover {
        border: 1px solid #3498db;
      }

      img {
        width: 12px;
        margin-right: 5px;
        vertical-align: middle;
      }
      span {
        font-size: 12px;
        vertical-align: middle;
      }
      input {
        display: none;
      }
    }

    .button-box {
      position: relative;
      padding: 20px 0px 10px 0px;
      text-align: right;

      .flat-button {
        display: inline-block;
        padding: 8px 20px;
        background-color: #2980b9;
        color: #ffffff;
        font-weight: 700;
        border-radius: 4px;
        vertical-align: middle;
        transition: 0.2s;
        user-select: none;
        cursor: pointer;

        img {
          width: 15px;
          margin-top: -2px;
          margin-right: 10px;
          vertical-align: middle;
        }

        &:hover {
          background-color: #3498db;
        }
      }

      .cancel-button {
        margin-left: 10px;
        background-color: #95a5a6;

        &:hover {
          background-color: #bdc3c7;
        }
      }

      .delete-button {
        display: inline-block;
        padding: 8px 20px;
        background-color: #c0392b;
        color: #ffffff;
        font-weight: 700;
        border-radius: 4px;
        text-align: center;
        transition: 0.2s;
        user-select: none;
        cursor: pointer;

        img {
          width: 15px;
          margin-top: -2px;
          margin-right: 10px;
          vertical-align: middle;
        }

        &:hover {
          background-color: #e74c3c;
        }
      }

      .left-button-box {
        position: absolute;
        top: 20px;
        left: 0px;
      }
    }
  }
}

.panel-setting-dialog {
  width: 500px;
  height: auto;
}

.task-setting-dialog {
  width: 600px;
  height: 100%;
  background-color: #f9f9f9;

  .title {
    position: stickey;
    top: 0px;
    color: #666666;
    background-color: #ffffff;
    border-bottom: 1px solid #bbbbbb;
    font-size: 16px;
    font-weight: 700;

    .top {
      padding: 10px 15px 5px 15px;

      .close-icon {
        display: inline-block;
        position: absolute;
        top: 8px;
        right: 8px;
        padding: 5px;
        border-radius: 4px;
        vertical-align: middle;
        transition: 0.2s;
        cursor: pointer;
  
        img {
          display: block;
          width: 15px;
        }
  
        &:hover {
          background-color: #f5f5f5;
        }
      }
    }

    .tab-box {
      padding: 0px 10px 0px 10px;

      .tab {
        display: inline-block;
        height: 30px;
        margin-right: 20px;
        padding: 4px 6px 4px 6px;
        font-size: 12px;
        border-bottom: 1px solid #ffffff;
        vertical-align: middle;
        transition: 0.2s;
        cursor: pointer;

        &:hover {
          border-bottom: 1px solid #3498db;
        }

        .count {
          display: inline-block;
          vertical-align: middle;
          margin-right: 4px;
          padding: 3px 4px;
          border-radius: 4px;
          background-color: #2ecc71;
          color: #ffffff;
          font-size: 10px;
          line-height: 10px;
          font-weight: 700;
        }

        span {
          vertical-align: middle;
        }
      }
      
      .selected {
        border-bottom: 1px solid #3498db;
      }
    }
  }

  .form {
    padding: 10px 20px 10px 20px;
    overflow: auto;
  
    .task-name {
      display: block;
      width: 100%;
      padding: 5px 0px;
      border: 0px;
      border-bottom: 1px solid #f9f9f9;
      color: #666666;
      background-color: #f9f9f9;
      font-size: 16px;
      transition: 0.2s;
      font-weight: 700;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .data-group {
      padding: 15px 0px;
      border-top: 1px solid #bbbbbb;
    }

    .label {
      position: relative;
      padding: 0px 0px 5px 0px;
      color: #666666;
      font-size: 12px;
      font-weight: 700;
      vertical-align: middle;

      .label-title {
        img {
          width: 14px;
          margin-top: -2px;
          margin-right: 3px;
          vertical-align: middle;
        }
      }

      .edit-button {
        position: absolute;
        top: 2px;
        right: 0px;
        display: inline-block;
        margin-top: -4px;
        margin-left: 20px;
        cursor: pointer;
        vertical-align: bottom;

        img {
          width: 10px;
          margin-right: 2px;
          vertical-align: middle;
        }

        span {
          font-size: 10px;
          vertical-align: middle;
        }
      }
    }

    .task-detail-textarea,
    .task-period-input,
    .task-attachement-url-input {
      display: block;
      width: 100%;
      padding: 10px 10px;
      border: 1px solid #bbbbbb;
      border-radius: 4px;
      color: #333333;
      font-size: 14px;
      transition: 0.2s;
  
      &:focus {
        border: 1px solid #3498db;
      }
    }
    .task-detail-textarea {
      height: 100px;
      resize: vertical;
    }

    .section-button-box {
      padding-top: 6px;
      text-align: right;
      input[type="button"] {
        width: 50px;
        margin-left: 4px;
        padding: 4px 8px;
        font-size: 12px;
        font-weight: 700;
        color: #ffffff;
        border: 0px;
        border-radius: 4px;
        cursor: pointer;
      }
      .save {
        background-color: #2980b9;
      }
      .cancel {
        background-color: #95a5a6;
      }
    }

    .detail-init {
      display: inline-block;
      width: 100%;
      margin: 4px 0px 0px 0px;
      padding: 7px 15px;
      font-weight: 700;
      font-size: 12px;
      border-radius: 4px;
      text-align: center;
      background-color: #eeeeee;
      border: 1px solid #bbbbbb;
      color: #666666;
      transition: 0.2s;
      cursor: pointer;

      &:hover {
        border: 1px solid #3498db;
      }
    }

    .task-detail {
      display: block;
      width: 100%;
      padding: 0px 0px 0px 0px;
      border: 1px solid #f9f9f9;
      border-radius: 4px;
      color: #666666;
      font-size: 12px;
      font-weight: 700;
    }

    .check-list {

      .check-row {
        position: relative;
        padding: 4px;
        transition: 0.2s;
        border-radius: 4px;
        border: 1px solid #f9f9f9;

        &:hover {
          background-color: #f0f0f0;
          border: 1px solid #f0f0f0;
        }

        input[type="text"] {
          border: 0px;
          background-color: #f9f9f9;
          padding: 4px 0px;
          width: 490px;
          font-weight: 700;
          color: #666666;
          border-bottom: 1px solid #dddddd;
          font-size: 12px;
        }

        &:hover input[type="text"] {
          background-color: #f0f0f0;
        }

        .delete-icon {
          display: block;
          position: absolute;
          top: 8px;
          right: 8px;

          img {
            display: block;
            width: 12px;
            cursor: pointer;
          }
        }
      }

      .label-checkbox {
        position: relative;
        margin: .5rem;
        font-family: Arial, sans-serif;
        line-height: 135%;
        font-size: 12px;
        font-weight: 700;
        color: #666666;
        cursor: pointer;
        user-select: none;

        span {
          display: inline-block;
          width: 490px;
        }
      }
      
      .checkbox {
        position: relative;
        top: -2px;
        margin: 0 1rem 0 0 ;
        cursor: pointer;
        
        &:before {
          content: "";
          position: absolute;
          left: 0;
          z-index: 1;
          width: 1rem;
          height: 1rem;
          border: 2px solid #666666; 
          transform: all .3s ease-in-out;
        }
        
        &:checked {
          &:before {
            height: .5rem;
            border-color: #666666;
            border-top-style: none;
            border-right-style: none;
            transform: rotate(-45deg);
          } 
        }

        &:checked + span {
          color: #888888;
          text-decoration: line-through;
        }
        
        &:after {
          content: "";
          position: absolute;
          top: rem(-2);
          left: 0;
          width: 1.1rem;
          height: 1.1rem;
          background: #fff;
          cursor: pointer;
        }
      }
    }

    .task-asign-view {

      .member-icon {
        display: inline-block;
        margin-right: 4px;
        padding: 4px 8px;
        border-radius: 4px;
        font-weight: 700;
        font-size: 12px;
        color: #ffffff;
        background-color: #666666;
        cursor: default;

        span {
          margin-left: 6px;
          cursor: pointer;
        }
      }
    }

    .task-asign {
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;

      .member-select {
        display: inline-block;
        width: calc(50% - 60px);
        height: 150px;
        border: 1px solid #888888;
        border-radius: 4px;
        background-color: #ffffff;
        vertical-align: top;
        text-align: left;
        overflow: auto;

        .member {
          padding: 5px 10px;
          border-bottom: 1px solid #dddddd;
          font-size: 12px;
          font-weight: 700;
          color: #444444;
          cursor: pointer;

          img {
            width: 12px;
            margin-right: 8px;
            vertical-align: middle;
          }
        }

        .selected {
          background-color: #e8eaf6;
        }
      }

      .control {
        display: inline-block;
        height: 150px;
        vertical-align: middle;
        text-align: center;

        .button {
          width: 60px;
          margin: 30px 25px;
          padding: 3px 5px;
          border: 1px solid #2980b9;
          background-color: #2980b9;
          border-radius: 4px;
          color: #ffffff;
          font-size: 12px;
          font-weight: 700;
          transition: 0.2s;
          user-select: none;
          cursor: pointer;

          &:hover {
            border: 1px solid #3498db;
            background-color: #3498db;
          }
        }
      }
    }

    .attachement-list {
      padding-top: 0px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;

      .attachement-file {
        position: relative;
        padding: 5px 0px;
        border-bottom: 1px solid #dddddd;

        .attachement-icon {
          width: 14px;
          margin-right: 10px;
        }

        a {
          display: inline-block;
          max-width: 480px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          vertical-align: middle;
          cursor: pointer;
        }

        .close {
          position: absolute;
          top: 8px;
          right: 5px;
          width: 14px;
          cursor: pointer;
        }
      }
    }

    .attachement {
      display: inline-block;
      width: calc(50% - 10px);
      margin: 4px 0px 10px 0px;
      padding: 7px 15px;
      font-weight: 700;
      font-size: 12px;
      border-radius: 4px;
      text-align: center;
      background-color: #eeeeee;
      border: 1px solid #bbbbbb;
      color: #666666;
      transition: 0.2s;
      cursor: pointer;
      &:hover {
        border: 1px solid #3498db;
      }
      span {
        font-size: 12px;
        vertical-align: middle;
      }
      input {
        display: none;
      }
    }

    .theme-color {
      display: flex;
      align-items: stretch;

      .color-box {
        display: inline-block;
        width: 100%;
        margin: 5px;
        padding: 5px 10px;
        color: #ffffff;
        border-radius: 4px;
        font-size: 12px;
        font-weight: 700;
        cursor: pointer;
        user-select: none;

        .selected {
          margin-right: 10px;
        }
      }
    }
    .detail-init-half {
      margin-right: 20px;
      width: calc(50% - 10px);
    }

    .button-box {
      position: relative;
      padding: 10px 0px 10px 0px;
      text-align: right;

      .delete-button {
        display: inline-block;
        padding: 8px 20px;
        background-color: #c0392b;
        color: #ffffff;
        font-weight: 700;
        border-radius: 4px;
        text-align: center;
        transition: 0.2s;
        user-select: none;
        cursor: pointer;

        img {
          width: 15px;
          margin-top: -2px;
          margin-right: 10px;
          vertical-align: middle;
        }

        &:hover {
          background-color: #e74c3c;
        }
      }

      .left-button-box {
        position: absolute;
        top: 20px;
        left: 0px;
      }
    }
  }

  .comment {
    padding: 20px 20px 20px 20px;
    overflow: auto;

    .comment-form {
      margin-bottom: 10px;

      .comment-add-button {
        display: inline-block;
        width: 100%;
        padding: 7px 15px;
        font-weight: 700;
        font-size: 12px;
        border-radius: 4px;
        text-align: center;
        background-color: #eeeeee;
        border: 1px solid #eeeeee;
        color: #666666;
        transition: 0.2s;
        cursor: pointer;

        img {
          width: 14px;
          margin-right: 5px;
        }
  
        &:hover {
          border: 1px solid #3498db;
        }
      }

      textarea {
        display: block;
        width: 100%;
        padding: 10px 10px;
        border: 1px solid #bbbbbb;
        border-radius: 4px;
        color: #333333;
        font-size: 12px;
        transition: 0.2s;
        height: 100px;
        resize: vertical;
    
        &:focus {
          border: 1px solid #3498db;
        }
      }
      
      .comment-submit-box {
        padding-top: 6px;
        text-align: right;

        input[type="button"] {
          width: 50px;
          margin-left: 4px;
          padding: 6px 12px;
          font-size: 12px;
          font-weight: 700;
          color: #ffffff;
          border: 0px;
          border-radius: 4px;
          cursor: pointer;
        }
        
        .save {
          background-color: #2980b9;
        }
        .cancel {
          background-color: #95a5a6;
        }
      }
    }

    .comments {
      .comment-item {
        background-color: #ffffff;
        margin-top: 10px;
        padding: 6px 12px;
        border: 1px solid #aaaaaa;
        border-radius: 4px;

        .user {
          font-weight: 700;
          font-size: 12px;
          color: #666666;

          img {
            width: 14px;
            margin-right: 4px;
          }
        }

        .text {
          padding: 4px 10px 0px 10px;
          font-weight: 700;
          font-size: 12px;
          color: #666666;
          margin-bottom: 4px;
        }

        .control {
          font-size: 12px;
          color: #888888;
          text-align: right;

          .delete {
            margin-left: 10px;
            cursor: pointer;
            
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}