.wl-dialog {
  min-width: 400px;
  background-color: #ffffff;

  .title {
    padding: 10px;
    font-weight: 700;
    color: #666666;
    background-color: #f0f0f0;
    font-size: 16px;
    font-weight: 700;
  }

  .form {
    padding: 20px 15px 5px 15px;
    background-color: #ffffff;

    .tray-group {
      padding: 3px 0px;
    }

    img {
      width: 25px;
      cursor: pointer;
      margin-right: 8px;
      margin-left: 4px;
    }

    input[type="text"] {
      width: calc(100% - 40px);
      padding: 8px 12px;
      font-size: 14px;
      border: 1px solid #bbbbbb;
      transition: 0.3s;
      color: #444444;
      border-radius: 4px;
  
      &:focus {
        border: 1px solid #3498db;
      }
    }
  }

  .button-box {
    text-align: right;
    background-color: #ffffff;
    padding: 0px 10px 10px 10px;
  }
}