.wl-dialog {
  width: 350px;
  background-color: #ffffff;

  .title {
    padding: 10px;
    font-weight: 700;
    color: #666666;
    background-color: #dddddd;
    font-size: 14px;
    font-weight: 700;
  }

  .form {
    padding: 20px 15px 5px 15px;
    background-color: #ffffff;

    .panel-group {
      padding: 3px 0px;
      text-align: center;
      border: 1px solid #ffffff;
    }

    img {
      width: 25px;
      cursor: pointer;
      margin-right: 8px;
      margin-left: 4px;
    }

    input[type="text"] {
      width: calc(100% - 80px);
      padding: 8px 12px;
      font-size: 14px;
      border: 1px solid #bbbbbb;
      transition: 0.3s;
      color: #444444;
      border-radius: 4px;
      text-align: left;
  
      &:focus {
        border: 1px solid #3498db;
      }
    }

    .delete {
      width: 15px;
      margin-left: 10px;
    }

    .full {
      width: 100% !important;
    }
    .under {
      border: 0px solid #bbbbbb !important;
      border-bottom: 1px solid #bbbbbb !important;
      border-radius: 0px !important;

      &:focus {
        border-bottom: 1px solid #3498db !important;
      }
    }
  }

  .button-box {
    text-align: right;
    background-color: #ffffff;
    padding: 0px 10px 10px 10px;
  }
  .center {
    text-align: center;
  }
}
.wl-dialog-small {
  width: 250px !important;
}
.chosen {
  transform: rotate(5deg) !important;
  background-color: #dddddd;
}