.wall {
  height: 100%;
  background-color: #f9f9f9;

  .board {
    display: inline-block;
    width: 180px;
    height: 100%;
    background-color: #ffffff;
    vertical-align: top;
    user-select: none;
    border-right: 1px solid #dddddd;
    color: #666666;

    .item {
      position: relative;
      padding: 12px 12px;
      font-size: 12px;
      cursor: pointer;
      margin: 6px 8px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      border-radius: 3px;

      &:hover {
        background-color: #f9f9f9;
      }

      img {
        top: 17px;
        right: 8px;
        width: 17px;
        vertical-align: middle;
        margin-right: 7px;
      }
    }
    .selected {
      background-color: #64b5f6 !important;
      color: #ffffff !important;
      font-weight: 700;
    }
  }

  .panels {
    display: inline-block;
    width: calc(100% - 180px);
    height: 100%;
    vertical-align: top;

    .header {
      position: relative;
      background-color: #ffffff;
      border-bottom: 1px solid #dddddd;
      height: 40px;

      .title {
        padding: 9px 12px 9px 12px;
        color: #666666;
      }

      .setting {
        position: absolute;
        top: 10px;
        right: 15px;
        cursor: pointer;

        img {
          width: 20px;
          margin-left: 15px;
          vertical-align: top;
        }
        span {
          font-size: 28px;
          vertical-align: top;
          color: rgb(192,192,192);
        }
      }
    }

    .body {
      display: inline-block;
      height: calc(100% - 50px);
      padding: 5px 12px;
      margin-top: 10px;
      overflow-x: auto;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      vertical-align: top;
      
      .panel {
        display: inline-block;
        height: calc(100% - 20px);
        margin-right: 10px;
        background-color: #ffffff;
        vertical-align: top;
        box-shadow: 0px 0px 3px rgba(0,0,0,0.2);

        .title {
          position: relative;
          padding: 10px 8px 8px 8px;
          font-size: 14px;
          line-height: 16px;
          color: #444444;
          font-weight: 700;
          background-color: #2980b9;
          color: #ffffff;

          .plus {
            position: absolute;
            top: 9px;
            right: 9px;
            font-size: 20px;
            cursor: pointer;
          }
        }

        .inner {
          width: 300px;

          & > div {
            height: calc(100% - 25px);
            padding: 10px;
            overflow-y: auto;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
          }

          .new-task {
            margin: 0px 10px;
            padding: 8px 8px;
            border-bottom: 1px solid #dddddd;

            .task-name {
              color: #666666;
              font-size: 14px;
              padding: 4px 0px;
              border: 0px;
              width: 100%;
            }
            
            .button-box {
              text-align: right;

              input[type="button"] {
                padding: 3px 6px;
                border: 0px;
                font-size: 12px;
                cursor: pointer;
                border-radius: 3px;
                transition: 0.2s;
                
                &:hover {
                  background-color: #f5f5f5;
                }
              }
            }
          }
        }

        .list-group {
          display: block;
          min-height: 300px;
        }

        .item {
          padding: 8px 8px;
          margin-bottom: 7px;
          border: 1px solid #ffffff;
          border-bottom: 1px solid #dddddd;
          background-color: #ffffff;
          color: #444444;
          user-select: none;
          cursor: pointer;

          .task-name {
            color: #666666;
            font-size: 14px;
          }
          .task-detail {
            text-align: right;

            .limit, .assign, .priority {
              display: inline-block;
              color: #666666;
              padding: 2px 6px;
              margin-top: 10px;
              margin-left: 5px;
              border-radius: 3px;
              background-color: #e5e5e5;
              font-size: 12px;
            }
          }
        }
      }
    }

    .task {
      display: inline-block;
      height: calc(100% - 40px);
      width: 300px;
      background-color: #ffffff;
      vertical-align: top;
      border-left: 1px solid #dddddd;
      overflow: auto;

      .inner {
        padding: 15px;
      }

      .detail {
        .tool-bar {
          text-align: right;
          margin-bottom: 3px;

          .action {
            display: inline-block;
            margin-left: 13px;
            cursor: pointer;

            img {
              width: 20px;
            }
          }
        }
        .task-name {
          font-size: 18px;
          color: #666666;
          margin-bottom: 15px;
        }
        .label {
          margin-top: 10px;
          font-size: 10px;
          color: #666666;
        }
        .value {
          font-size: 14px;
          color: #666666;
        }
        .separate {
          display: inline-block;
          width: 45%;
        }
        .comment {

          .comment-box {
            position: relative;
            border: 1px solid #dddddd;
            padding: 5px 10px;
            border-radius: 5px;
            margin-top: 5px;
            margin-bottom: 5px;
            background-color: #f9f9f9;

            .info {
              color: #888888;

              .user {
                font-size: 12px;
              }
              .post-date {
                position: absolute;
                top: 5px;
                right: 10px;
                font-size: 12px;
              }
            }
            .message {
              font-size: 13px;
              margin-top: 5px;
              color: #444444;
            }

            textarea {
              padding-top: 5px;
              padding-bottom: 5px;
              width: 100%;
              height: 120px;
              resize: none;
              font-size: 13px;
              color: #444444;
              border: 0px;
              background-color: #f9f9f9;
            }

            .button-box {
              text-align: right;

              input[type="button"] {
                padding: 3px 9px;
                border: 0px;
                font-size: 12px;
                cursor: pointer;
                border-radius: 3px;
                transition: 0.2s;
                background-color: #f9f9f9;
                
                &:hover {
                  background-color: #eeeeee;
                }
              }
            }
          }

          .comment-post {
            color: #444444;
            font-size: 13px;
            cursor: pointer;
            transition: 0.2s;

            &:hover {
              color: #888888;
            }
          }
        }
      }
      .edit {
        .label {
          margin-top: 10px;
          font-size: 12px;
          color: #666666;
        }

        input[type="text"] {
          width: 100%;
          padding: 6px 9px;
          font-size: 13px;
          border: 1px solid #bbbbbb;
          transition: 0.3s;
          color: #444444;
          border-radius: 4px;
          margin-bottom: 6px;
      
          &:focus {
            border: 1px solid #3498db;
          }
        }
        textarea {
          width: 100%;
          height: 100px;
          padding: 6px 9px;
          font-size: 13px;
          border: 1px solid #bbbbbb;
          transition: 0.3s;
          color: #444444;
          border-radius: 4px;
          resize: none;
      
          &:focus {
            border: 1px solid #3498db;
          }
        }
        .priority {
          display: inline-block;
          padding: 2px 12px;
          font-size: 12px;
          color: #888888;
          border: 1px solid #dddddd;
          border-radius: 8px;
          cursor: pointer;
          margin-right: 10px;
        }

        .button-box {
          margin-top: 12px;
          text-align: right;

          input[type="button"] {
            padding: 3px 6px;
            cursor: pointer;
            border-radius: 3px;
            margin-left: 5px;
            min-width: 40px;
            font-size: 12px;
          }
          .save {
            background-color: #2980b9;
            color: #ffffff;
            border: 1px solid #2980b9;
            font-weight: 700;
          }
          .cancel {
            border: 1px solid #ffffff;
            transition: 0.2s;

            &:hover {
              background-color: #eeeeee;
              border: 1px solid #eeeeee;
            }
          }
        }
      }
    }
  }
}

.sortable-ghost {
  cursor:pointer;
  border: 1px solid #f1c40f !important;
}