<div class="wall">
  <div class="board">
    <div class="board-title">▽ ボード一覧 ▽</div>
    <draggable element="div" :options="options" v-model="list.boards">
      <transition-group class="list-group">
        <router-link class="item" v-for="board in list.boards" :class="{selected: board.selected}" :key="board.boardId"
          :to="{ name: 'wall-board', params: { teamId: display.teamId, projectId: display.projectId, boardId: board.boardId }}">
          <img src="../../assets/board-gray.png" />
          <!-- <img v-if="board.selected" src="../../assets/board.png" /> -->
          {{board.boardName}}
        </router-link>
      </transition-group>
    </draggable>
    <div class="item" @click="handleBoardAddClick">＋&emsp;Add</div>
  </div>
  <div class="panels" v-if="display.boardId != null">
    <div class="header">
      <div class="title">{{display.boardName}}</div>
      <div class="setting">
        <img src="../../assets/plus-gray.png" @click="handlePanelAddClick" />
        <img src="../../assets/setting-gray.png" @click="handlePanelSettingClick" />
        <img src="../../assets/pen-gray.png" @click="handleBoardEditClick" />
        <img src="../../assets/delete-gray.png" @click="handleBoardDeleteClick" />
      </div>
    </div>
    <div class="body" :style="boardWidth">
      <div class="panel" v-for="panel in list.panels" :key="panel.panelId">
        <div class="title">
          <div>{{panel.panelName}}</div>
          <div class="plus" @click="() => { handleTaskAddClick(panel.panelId) }">＋</div>
        </div>
        <div class="inner">
          <div class="new-task" v-if="panel.showCreateWindow">
            <input type="text" value="" placeholder="タスク名" class="task-name" v-model="display.taskAdd.title"
              id="task-add-title" @keydown.13="() => { handleTaskAddSaveClick(panel.panelId, false) }" />
            <div class="button-box">
              <input type="button" value="登録" @click="() => { handleTaskAddSaveClick(panel.panelId, true) }" />
              <input type="button" value="キャンセル" @click="handleTaskAddCancelClick" />
            </div>
          </div>
          <draggable element="div" :options="options" v-model="panel.task">
            <transition-group class="list-group">
              <router-link class="item" v-for="task in panel.task" :key="task.taskId"
                :to="{ name: 'wall-task', params: { teamId: display.teamId, projectId: display.projectId, boardId: display.boardId, taskId: task.taskId }}">
                <div class="task-name"><span class="task-id">#{{task.taskId}}</span>&ensp;{{task.title}}</div>
                <div class="task-detail">
                  <div class="priority" v-if="task.priority == '1'">High</div>
                  <div class="priority" v-if="task.priority == '2'">High</div>
                  <div class="priority" v-if="task.priority == '3'">High</div>
                  <div class="priority" v-if="task.priority == '4'">High</div>
                  <div class="assign" v-if="task.assignUser != null && task.assignUser != ''">yumochi21</div>
                  <div class="limit" v-if="task.deadline != null">2019-03-30</div>
                </div>
              </router-link>
            </transition-group>
          </draggable>
        </div>
      </div>
    </div>
    <div class="task" v-if="mode.task.selected">
      <div class="inner detail" v-if="!mode.task.edit">
        <div class="tool-bar">
          <div class="action">
            <img src="../../assets/pen-gray.png" @click="handleTaskEditClick" />
          </div>
          <div class="action">
            <img src="../../assets/delete-gray.png" @click="handleTaskDeleteClick" />
          </div>
          <div class="action">
            <img src="../../assets/cross-gray.png" @click="handleTaskCloseClick" />
          </div>
        </div>
        <div class="task-name" v-if="display.task.taskId"><span class="task-id">#{{display.task.taskId}}</span>&ensp;{{display.task.title}}</div>
        <div class="label" v-if="display.task.content">詳細</div>
        <div class="value" v-if="display.task.content" v-html="anchorify(display.task.content)"></div>
        <div class="label separate" v-if="display.task.priority">優先度</div>
        <div class="label separate" v-if="display.task.assignUser">担当者</div><br>
        <div class="value separate" v-if="display.task.priority == '1'">高</div>
        <div class="value separate" v-if="display.task.priority == '2'">中</div>
        <div class="value separate" v-if="display.task.priority == '3'">低</div>
        <div class="value separate" v-if="display.task.priority == '4'">保留</div>
        <div class="value separate" v-if="display.task.assignUser">{{display.task.assignUser}}</div><br>
        <div class="label separate" v-if="display.task.startDate">着手</div>
        <div class="label separate" v-if="display.task.deadline">期限</div><br>
        <div class="value separate" v-if="display.task.startDate">{{display.task.startDate}}</div>
        <div class="value separate" v-if="display.task.deadline">{{display.task.deadline}}</div>
        <div class="label" v-if="display.task.taskId">コメント</div>
        <div class="comment" v-if="display.task.taskId">
          <div class="comment-box comment-post" v-if="!display.taskCommentForm.visible">
            <div @click="handleCommentPostClick">コメントを投稿</div>
          </div>
          <div class="comment-box" v-if="display.taskCommentForm.visible">
            <textarea placeholder="コメントを入力" v-model="display.taskCommentForm.message" id="task-comment"
              @keydown.enter.ctrl="handleCommentPostConfirmClick"></textarea>
            <div class="button-box">
              <input type="button" value="投稿" @click="handleCommentPostConfirmClick" />
              <input type="button" value="キャンセル" @click="handleCommentPostCancelClick" />
            </div>
          </div>
          <div class="comment-box" v-for="comment in display.taskComments">
            <div class="info">
              <div class="user">{{comment.userName}}</div>
              <div class="post-date">{{comment.postDatetime}}</div>
            </div>
            <div class="message" v-html="anchorify(comment.message)"></div>
          </div>
        </div>
      </div>
      <div class="inner edit" v-if="mode.task.edit">
        <div class="label">タスク名</div>
        <div class="value">
          <input type="text" v-model="display.taskEdit.title" />
        </div>
        <div class="label">詳細</div>
        <div class="value">
          <textarea v-model="display.taskEdit.content"></textarea>
        </div>
        <div class="label">優先度</div>
        <div class="value">
          <select v-model="display.taskEdit.priority">
            <option :value="1">高</option>
            <option :value="2">中</option>
            <option :value="3">低</option>
            <option :value="4">保留</option>
          </select>
          <!-- <div class="priority">高</div>
          <div class="priority">中</div>
          <div class="priority">低</div>
          <div class="priority">保留</div> -->
        </div>
        <div class="label">担当者</div>
        <div class="value">
          <select v-model="display.taskEdit.assignUser">
            <option v-for="user in display.projectUsers" :value="user.userId">{{user.userName}}</option>
          </select>
        </div>
        <div class="label">着手</div>
        <div class="value">
          <input type="text" placeholder="YYYY-MM-DD" v-model="display.taskEdit.startDate" />
        </div>
        <div class="label">期限</div>
        <div class="value">
          <input type="text" placeholder="YYYY-MM-DD" v-model="display.taskEdit.deadline" />
        </div>
        <div class="button-box">
          <input type="button" value="保存" class="save" @click="handleTaskEditSaveClick" />
          <input type="button" value="キャンセル" class="cancel" @click="handleTaskEditCancelClick" />
        </div>
      </div>
    </div>
  </div>

  <!-- ボード作成ダイアログ -->
  <md-dialog :md-active.sync="dialog.boardCreate.visible" class="wl-dialog">
    <div class="title">ボード名を入力してください</div>
    <div class="form">
      <input v-model="dialog.boardCreate.boardName" type="text" placeholder="名称" class="full under"
        id="board-create-name" @keydown.13="handleBoardCreateClick" />
    </div>
    <div class="button-box">
      <md-button @click="handleBoardCreateCancelClick">キャンセル</md-button>
      <md-button class="md-primary md-raised" @click="handleBoardCreateClick">作成</md-button>
    </div>
  </md-dialog>
  <!-- パネル作成ダイアログ -->
  <md-dialog :md-active.sync="dialog.panelCreate.visible" class="wl-dialog">
    <div class="title">パネルの作成</div>
    <div class="form">
      <input v-model="dialog.panelCreate.panelName" type="text" placeholder="名称" class="full under"
        id="panel-create-name" @keydown.13="handlePanelCreateClick" />
    </div>
    <div class="button-box">
      <md-button @click="handlePanelCreateCancelClick">キャンセル</md-button>
      <md-button class="md-primary md-raised" @click="handlePanelCreateClick">完了</md-button>
    </div>
  </md-dialog>
  <!-- パネル設定ダイアログ -->
  <md-dialog :md-active.sync="dialog.panelSetting.visible" class="wl-dialog">
    <div class="title">パネルの設定</div>
    <div class="form">
      <draggable element="div" :options="panelOptions" v-model="list.panels">
        <transition-group>
          <div class="panel-group" v-for="panel in list.panels" :key="panel.panelId">
            <img src="../../assets/switch-gray.png" />
            <input type="text" v-model="panel.panelName" placeholder="名称" />
            <img src="../../assets/cross-gray.png" class="delete"
              @click="() => { handlePanelDeleteClick(panel.panelId) }" />
          </div>
        </transition-group>
      </draggable>
    </div>
    <div class="button-box">
      <md-button @click="handlePanelSettingCompleteClick">完了</md-button>
    </div>
  </md-dialog>
  <!-- パネル削除ダイアログ -->
  <md-dialog :md-active.sync="dialog.panelDelete.visible" class="wl-dialog wl-dialog-small">
    <div class="title">本当に削除しますか？</div>
    <div class="button-box center">
      <md-button class="md-accent md-raised" @click="handlePanelDeleteConfirmClick">削除</md-button>
      <md-button @click="handlePanelDeleteCancelClick">キャンセル</md-button>
    </div>
  </md-dialog>
  <!-- ボード編集ダイアログ -->
  <md-dialog :md-active.sync="dialog.boardEdit.visible" class="wl-dialog">
    <div class="title">ボード名を入力してください</div>
    <div class="form">
      <input v-model="dialog.boardEdit.boardName" type="text" placeholder="名称" class="full under" id="board-edit-name"
        @keydown.13="handleBoardEditSaveClick" />
    </div>
    <div class="button-box">
      <md-button @click="handleBoardEditCancelClick">キャンセル</md-button>
      <md-button class="md-primary md-raised" @click="handleBoardEditSaveClick">保存</md-button>
    </div>
  </md-dialog>
  <!-- ボード削除ダイアログ -->
  <md-dialog :md-active.sync="dialog.boardDelete.visible" class="wl-dialog wl-dialog-small">
    <div class="title">本当に削除しますか？</div>
    <div class="button-box center">
      <md-button class="md-accent md-raised" @click="handleBoardDeleteConfirmClick">削除</md-button>
      <md-button @click="handleBoardDeleteCancelClick">キャンセル</md-button>
    </div>
  </md-dialog>
  <!-- タスク削除ダイアログ -->
  <md-dialog :md-active.sync="dialog.taskDelete.visible" class="wl-dialog wl-dialog-small">
    <div class="title">本当に削除しますか？</div>
    <div class="button-box center">
      <md-button class="md-accent md-raised" @click="handleTaskDeleteConfirmClick">削除</md-button>
      <md-button @click="handleTaskDeleteCancelClick">キャンセル</md-button>
    </div>
  </md-dialog>
</div>