<div class="project-dashboard">
  <div class="dashboard-header">
    <div class="project-name">F-clef</div>
    <div class="abstract">
      ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。
    </div>
  </div>
  <div class="left-content">
    <div class="card">
      <div class="card-title">
        <img src="../../assets/bulletin-board-gray.png" />
        <span>掲示</span>
      </div>
    </div>
    <div class="half-content half-content-left">
      <div class="card">
        <div class="card-title">
          <img src="../../assets/pin-gray.png" />
          <span>今週が期限のタスク</span>
        </div>
      </div>
    </div>
    <div class="half-content">
      <div class="card">
        <div class="card-title">
          <img src="../../assets/pin-gray.png" />
          <span>自分が担当のタスク</span>
        </div>
      </div>
      <div class="card">
        <div class="card-title">
          <img src="../../assets/pin-gray.png" />
          <span>期限切れのタスク</span>
        </div>
      </div>
    </div>
  </div>
  <div class="right-content">
    <div class="card">
      <div class="card-title">
        <img src="../../assets/team-net-gray.png" />
        <span>プロジェクトメンバー</span>
      </div>
    </div>
    <div class="card">
      <div class="card-title">
        <img src="../../assets/business-bag-gray.png" />
        <span>機能一覧</span>
      </div>
      <div class="functions">
        <div class="item">
          <img src="../../assets/board-gray.png" />
          <span>ウォール</span>
          <img src="../../assets/right-gray.png" class="move" />
        </div>
        <div class="item">
          <img src="../../assets/document-gray.png" />
          <span>デザインドキュメント</span>
          <img src="../../assets/right-gray.png" class="move" />
        </div>
      </div>
    </div>
  </div>
</div>