<div class="project-dashboard">
  <div class="dashboard-header">
    <div class="project-name">F clef（プロジェクトプラザ）</div>
    <div class="abstract">
      ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。
    </div>
  </div>
  <div class="left-content">
    <div class="card">
      <div class="document">
        <div data-v-71e7f59a="">
          <h1 id="コンセプト">コンセプト</h1>
          <h3 id="誰に">誰に</h3>
          <p>スタートアップで事業を始めている２〜３人のグループ</p>
          <h3 id="なんと言ってもらいたいか">なんと言ってもらいたいか</h3>
          <p>素早く事業を始めることができた！</p>
          <h3 id="メリット">メリット</h3>
          <p>
            ・複数のサービスに登録する必要がない<br>・データが繋がっていて何回も同じ情報を記載する必要がない<br>・後から加わったメンバーにすぐに情報を共有できる<br>・プロジェクト単位で情報を管理することができる<br>・１つ１つの機能がシンプル<br>・開発者も営業も同じシステムで作業することができる<br>・役割毎にスペースを作成し、必要な機能だけに絞って使うことができる
          </p>
          <h3 id="デメリット">デメリット</h3>
          <p>・細かい設定ができない<br>・組織に対応していないから大人数で使うことは難しい</p>
          <h3 id="ペルソナ">ペルソナ</h3>
          <p>・インターネットの操作に慣れている30代後半までの人</p>
          <p>2019.03.24 FIX</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-title">
        <img src="../../assets/pin-gray.png" />
        <span>今週が期限のタスク</span>
      </div>
      <table class="task-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>タスク</th>
            <th>ボード</th>
            <th>パネル</th>
            <th>期日</th>
            <th>担当者</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>#1</td>
            <td>料金を決める</td>
            <td>開発</td>
            <td>進行中</td>
            <td>2019-03-31</td>
            <td>望月由登</td>
          </tr>
          <tr>
            <td>#1</td>
            <td>料金を決める</td>
            <td>開発</td>
            <td>進行中</td>
            <td>2019-03-31</td>
            <td>望月由登</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card">
      <div class="card-title">
        <img src="../../assets/pin-gray.png" />
        <span>自分が担当のタスク</span>
      </div>
      <table class="task-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>タスク</th>
            <th>ボード</th>
            <th>パネル</th>
            <th>期日</th>
            <th>担当者</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>#1</td>
            <td>料金を決める</td>
            <td>開発</td>
            <td>進行中</td>
            <td>2019-03-31</td>
            <td>望月由登</td>
          </tr>
          <tr>
            <td>#1</td>
            <td>料金を決める</td>
            <td>開発</td>
            <td>進行中</td>
            <td>2019-03-31</td>
            <td>望月由登</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card">
      <div class="card-title">
        <img src="../../assets/pin-gray.png" />
        <span>期限切れのタスク</span>
      </div>
      <table class="task-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>タスク</th>
            <th>ボード</th>
            <th>パネル</th>
            <th>期日</th>
            <th>担当者</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>#1</td>
            <td>料金を決める</td>
            <td>開発</td>
            <td>進行中</td>
            <td>2019-03-31</td>
            <td>望月由登</td>
          </tr>
          <tr>
            <td>#1</td>
            <td>料金を決める</td>
            <td>開発</td>
            <td>進行中</td>
            <td>2019-03-31</td>
            <td>望月由登</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="right-content">
    <div class="card">
      <div class="card-title">
        <span>プロジェクトメンバー</span>
      </div>
      <div class="members">
        <div class="item">
          <div class="icon">
            <img src="../../assets/user-gray.png" />
          </div>
          <span class="user-name">望月由登</span>
        </div>
        <div class="item">
          <div class="icon">
            <img src="../../assets/user-gray.png" />
          </div>
          <span class="user-name">望月由登</span>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-title">
        <span>機能一覧</span>
      </div>
      <div class="functions">
        <div class="item">
          <div class="icon">
            <img src="../../assets/board.png" />
          </div>
          <span>ウォール</span>
        </div>
        <div class="item">
          <div class="icon">
            <img src="../../assets/document.png" />
          </div>
          <span>デザインドキュメント</span>
        </div>
      </div>
    </div>
  </div>
</div>