.design-document {
  display: flex;
  align-items: flex-start;

  .left-content {
    width: 250px;
    height: 100%;
    padding: 10px;
    color: #666666;

    .title {
      position: relative;
      margin-bottom: 10px;

      img {
        width: 15px;
        margin-right: 7px;
        vertical-align: middle;
      }

      span {
        color: #888888;
        font-size: 13px;
        font-weight: 700;
        vertical-align: middle;
      }

      .icon {
        position: absolute;
        width: 15px;
        top: 3px;
        right: -5px;
        cursor: pointer;
      }

      .folder-plus-icon {
        top: 0px;
        width: 18px;
        right: 20px;
      }
    }

    .fields {
      display: block;
      position: relative;
      width: calc(100% - 0px);
      height: calc(50% - 10px);
      margin-bottom: 10px;
      padding: 10px;
      overflow: auto;
      font-size: 12px;
      background-color: #ffffff;
      // box-shadow: 0px 1px 3px rgba(180, 180, 180, 0.2);
      border-radius: 4px;
      border: 1px solid #d7dfe3;
    }

    .row {
      position: relative;
      padding: 3px 6px;
      margin-bottom: 2px;
      border-radius: 4px;
      // font-weight: 700;
      transition: 0.1s;
      user-select: none;
      cursor: pointer;

      &:hover {
        color: #888888;
      }

      span {
        vertical-align: middle;
      }

      .icon {
        display: none;
        background-image: url('../../assets/setting-gray.png');
        background-size: cover;
        position: absolute;
        top: 7px;
        right: 8px;
        width: 12px;
        height: 12px;
      }
      &:hover > .icon {
        display: block;
      }
    }

    .opened {
      color: #16a085 !important;
    }
    .selected {
      color: #3498db !important;
    }
  }

  .right-content {
    width: calc(100% - 260px);
    height: 100%;
    vertical-align: top;

    .box {
      width: 100%;
      height: 100%;
      padding: 10px;
      overflow: auto;
      vertical-align: top;

      .paper {
        width: 100%;
        padding: 15px;
        background-color: #ffffff;
        padding: 2px 0px;
        margin-bottom: 10px;
        // box-shadow: 0px 1px 3px rgba(180, 180, 180, 0.2);
        border-radius: 4px;
        border: 1px solid #d7dfe3;

        .document {
          position: relative;
          padding: 15px 25px;
        }

        .document-edit {
          display: block;
          position: absolute;
          bottom: 50px;
          right: 15px;
          padding: 10px;
          border-radius: 50%;
          background-color: #3498db;
          transition: 0.2s;
          cursor: pointer;

          &:active {
            bottom: 48px;
          }
          
          img {
            display: block;
            width: 20px;
          }
        }

        .document-delete {
          display: block;
          position: absolute;
          bottom: 15px;
          right: 18px;
          padding: 8px;
          border-radius: 50%;
          background-color: #e74c3c;
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
          transition: 0.2s;
          cursor: pointer;

          &:active {
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
            bottom: 13px;
          }
          
          img {
            display: block;
            width: 15px;
          }
        }
      }
    }

    .document-separate {
      display: block;
      position: absolute;
      top: 20px;
      right: 30px;
      padding: 10px;
      border-radius: 50%;
      background-color: #dddddd;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
      // transition: 0.2s;
      cursor: pointer;

      &:active {
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        top: 22px;
      }
      
      img {
        display: block;
        width: 20px;
      }
    }

    .box-edit {
      vertical-align: top;
      height: 100%;
      // transition: 0.2s;

      .paper {
        height: calc(100% - 10px);

        .document {
          height: calc(100% - 20px);

          input[type="text"] {
            width: 100%;
            margin-top: 10px;
            padding: 5px 0px 5px 0px;
            border: 1px solid #ffffff;
            // border-bottom: 1px solid #cccccc;
            resize:  none;
            font-size: 18px;
            transition: 0.2s;
            // border-radius: 5px;
            margin-bottom: 10px;
            color: #666666;

            &:focus {
              // border-left: 1px solid #3498db;
              // border-bottom: 1px solid #3498db;
            }
          }
          
          textarea {
            width: 100%;
            height: 300px;
            padding: 5px 0px 5px 0px;
            border: 1px solid #ffffff;
            // border-bottom: 1px solid #cccccc;
            resize:  none;
            font-size: 13px;
            transition: 0.2s;
            // border-radius: 5px;
            color: #444444;

            &:focus {
              // border-left: 1px solid #3498db;
              // border-bottom: 1px solid #3498db;
            }
          }
          
          .submit-button-box {
            text-align: right;
          }
        }
      }
    }
  }
}