<div class="design-document">
  <div class="left-content">
    <!-- フォルダ -->
    <div class="fields">
      <div class="title">
        <img src="../../assets/folder-close-gray.png" />
        <span>フォルダ</span>
        <img class="icon" src="../../assets/setting-gray.png" @click="handleShowFolderSettingDialogButtonClick" />
        <img class="icon folder-plus-icon" src="../../assets/folder-plus-gray.png" @click="handleShowFolderCreateDialogButtonClick" />
      </div>
      <draggable element="div" :options="options" v-model="leftMenu.folders">
        <transition-group class="list-group">
          <div v-for="folder in leftMenu.folders" class="row" :key="'folder' + folder.folderId" :class="folder.className" @click="() => { handleFolderClick(folder.folderId) }">
            <span>{{ folder.folderName }}</span>
          </div>
        </transition-group>
      </draggable>
    </div>
    <!-- ドキュメント -->
    <div class="fields">
      <div class="title">
        <img src="../../assets/file-gray.png" />
        <span>ドキュメント</span>
        <img class="icon" src="../../assets/pen-gray.png" v-if="document.folderId != null" @click="handleDocumentCreateClick" />
      </div>
      <draggable element="div" :options="options" v-model="leftMenu.documents">
        <transition-group class="list-group">
          <div v-for="document in leftMenu.documents" class="row" :key="'document' + document.documentId" :class="document.className" @click="() => { handleDocumentClick(document.documentId) }">
            <span>{{ document.documentName }}</span>
          </div>
        </transition-group>
      </draggable>
    </div>
  </div>
  <!-- 資料本文 -->
  <div class="right-content" v-if="document.documentId != undefined">
    <div class="box box-edit" v-if="display.mode === 'edit'" :style="boxStyle">
      <div class="paper">
        <div class="document">
          <input type="text" v-model="document.documentName">
          <textarea v-model="document.content" id="document-content"></textarea>
          <!-- ボタン -->
          <div class="submit-button-box">
            <md-button @click="handleDocumentEditCancelClick">キャンセル</md-button>
            <md-button class="md-raised md-primary" @click="handleDocumentSaveClick">保存</md-button>
          </div>
        </div>
      </div>
    </div>
    <div class="box" :style="boxStyle">
      <div class="paper">
        <div class="document">
          <div v-html="compiledMarkdown"></div>
          <!-- <vue-markdown :source="document.content" :html="false" :toc="true" :toc-first-level="1" :toc-anchor-link="false"
            :anchorAttributes="{target: '_blank'}" v-highlight></vue-markdown> -->
        </div>
        <div class="document-edit" v-if="display.mode === 'view'" @click="handleDocumentEditClick">
          <img src="../../assets/pen.png"  />
        </div>
        <div class="document-delete" v-if="display.mode === 'view'" @click="handleShowDeleteDialogClick">
          <img src="../../assets/delete.png" />
        </div>
      </div>
    </div>
  </div>
  <!-- フォルダ設定ダイアログ -->
  <md-dialog :md-active.sync="dialog.folder.visible" class="dd-folder-setting">
    <div class="title">
      <img src="../../assets/folder-close-gray.png" class="title-icon" />
      <span>フォルダ名変更</span>
    </div>
    <div class="inner">
      <div class="form-box">
        <div class="warning-message-box">フォルダを削除すると配下のドキュメントも削除されますのでご注意ください。</div>
        <table>
          <tbody>
            <tr v-for="folder in dialog.folder.folders" :key="folder.folderId" v-if="!folder.deleted">
              <td>
                <img src="../../assets/folder-close-gray.png" class="folder-icon" />
              </td>
              <td>
                <input type="text" class="folder-name" v-model="folder.folderName" />
              </td>
              <td>
                <img src="../../assets/folder-minus-gray.png" class="folder-minus-icon" @click="() => {handleDeleteFolderButtonClick(folder.folderId)}" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- ボタン -->
      <div class="button-box">
        <md-button @click="handleFolderSettingCancelButtonClick">キャンセル</md-button>
        <md-button class="md-raised md-primary" @click="handleUpdateFolderSettingButtonClick">保存</md-button>
      </div>
    </div>
  </md-dialog>

  <!-- フォルダ作成ダイアログ -->
  <md-dialog :md-active.sync="dialog.folderCreate.visible" class="dd-folder-create">
    <div class="title">
      <img src="../../assets/folder-close-gray.png" class="title-icon" />
      <span>フォルダ名を入力してください</span>
    </div>
    <div class="folder-name-box">
      <input type="text" v-model="dialog.folderCreate.folderName" id="input-folder-create" @keydown.13="handleFolderCreateButtonClick" />
    </div>
    <!-- ボタン -->
    <div class="button-box">
      <md-button @click="handleFolderCreateCancelButtonClick">キャンセル</md-button>
      <md-button class="md-raised md-primary" @click="handleFolderCreateButtonClick">作成</md-button>
    </div>
  </md-dialog>

  <!-- ファイル削除確認ダイアログ -->
  <md-dialog :md-active.sync="dialog.documentDelete.visible" class="dd-folder-create">
    <div class="title">
      <img src="../../assets/folder-close-gray.png" class="title-icon" />
      <span><span class="file-name">{{document.documentName}}</span> を本当に削除しますか？</span>
    </div>
    <!-- ボタン -->
    <div class="button-box-center">
      <md-button class="md-raised md-accent" @click="handleDocumentDeleteButtonClick">削除</md-button>
      <md-button @click="handleDocumentDeleteCancelClick">キャンセル</md-button>
    </div>
  </md-dialog>
</div>