<div class="header">
  <!-- チーム選択 -->
  <div class="team move" @click="handleTeamClick">
    <div class="icon">
      <img src="../../../assets/talent.png">
    </div>
    <div class="name" v-if="!currentTeam">チームを選択してください</div>
    <div class="name" v-if="currentTeam">{{currentTeam.name}}</div>
    <img class="dropdown-icon" src="../../../assets/dropdown-gray.png">
    <div class="select" v-if="teamSelect.visible">
      <router-link 
        class="select-item"
        v-for="t in $store.state.common.header.team.list"
        :to="baseURL + 't/' + t.code + '/dashboard'"
        :key="t.code"
      ><img src="../../../assets/team-gray.png" class="select-item-icon" />{{t.name}}</router-link>
      <router-link :to="{path: baseURL + 't/setting/owner/create'}" class="select-item">＋&emsp;Add</router-link>
    </div>
  </div>
  <!-- プロジェクト選択 -->
  <div class="team move" @click="handleProjectClick">
    <div class="icon">
      <img src="../../../assets/project.png">
    </div>
    <div class="name" v-if="!currentProject">プロジェクトを選択してください</div>
    <div class="name" v-if="currentProject">{{currentProject.name}}</div>
    <img class="dropdown-icon" src="../../../assets/dropdown-gray.png">
    <div class="select" v-if="projectSelect.visible">
      <router-link
        class="select-item"
        v-for="p in $store.state.common.header.project.list"
        :to="baseURL + 't/' + $store.state.common.header.team.current + '/p/' + p.code + '/dashboard'"
        :key="p.code"
      >-&ensp;{{p.name}}</router-link>
      <router-link :to="baseURL + 't/' + $store.state.common.header.team.current + '/p/setting/owner/create'" class="select-item" v-if="currentTeam">＋&emsp;Add</router-link>
    </div>
  </div>
  <!-- ショートカットメニュー -->
  <div class="short-menu">
    <div class="block block-s">
      <div class="search">
        <input type="text" placeholder="Search">
      </div>
    </div>
    <div class="block" @click="() => {switchShortcutContent('00001')}">
      <div class="icon">
        <img src="../../../assets/message-gray.png">
      </div>
    </div>
    <div class="block" @click="() => {switchShortcutContent('00002')}">
      <div class="icon">
        <img src="../../../assets/list-gray.png">
      </div>
    </div>
    <div class="block" @click="() => {switchShortcutContent('00003')}">
      <div class="icon">
        <img src="../../../assets/memo-gray.png">
      </div>
    </div>
    <div class="block" @click="handleProfileClick">
      <div class="icon">
        <img src="../../../assets/user-gray.png">
      </div>
      <div class="list" v-if="profile.visible">
        <div class="list-item">Profile</div>
        <div class="list-item" @click="handleLogoutClick">Logout</div>
      </div>
    </div>
    <div class="block">
      <div class="icon">
        <img src="../../../assets/setting-gray.png">
      </div>
    </div>
  </div>
  <!-- プログレスバー -->
  <md-progress-bar md-mode="indeterminate" v-if="$store.state.common.header.progressBar.visible"></md-progress-bar>
</div>