<div class="header">
  <!-- チーム選択 -->
  <div class="menu">
    <img src="../../../assets/home_ffffff.svg">
  </div>
  <!-- <div class="menu">
    <img src="../../../assets/card_ffffff.svg">
  </div>
  <div class="menu">
    <img src="../../../assets/document_ffffff.svg">
  </div> -->
  <router-link v-for="m in menus"
    :to="{name: m.name, params: {teamId: $store.state.common.header.team.current, projectId: $store.state.common.header.project.current}}"
    :key="m.code" v-if="($store.state.common.header.project.current !== null || !m.isPjMenu)" class="menu">
    <img :src="require('../../../assets/' + m.icon + '.svg')">
  </router-link>
  <div class="team move team-pulldown" @click="handleTeamClick">
    <div class="icon">
      <img src="../../../assets/team_ffffff.svg">
    </div>
    <div class="name" v-if="!currentTeam">---</div>
    <div class="name" v-if="currentTeam">{{currentTeam.name}}</div>
    <img class="dropdown-icon" src="../../../assets/dropdown.png">
    <div class="select" v-if="teamSelect.visible">
      <router-link class="select-item" v-for="t in $store.state.common.header.team.list"
        :to="baseURL + 't/' + t.code + '/dashboard'" :key="t.code">
        <div class="move-icon"><img src="../../../assets/team.png" class="select-item-icon" /></div>{{t.name}}
      </router-link>
      <router-link :to="{path: baseURL + 't/setting/owner/create'}" class="select-item">
        <div class="move-icon">
          <div class="move-icon-plus">＋</div>
        </div>
        <span>チームを追加</span>
      </router-link>
    </div>
  </div>
  <!-- プロジェクト選択 -->
  <div class="team move project-pulldown" @click="handleProjectClick">
    <div class="icon">
      <img src="../../../assets/project.png">
    </div>
    <div class="name" v-if="!currentProject">---</div>
    <div class="name" v-if="currentProject">{{currentProject.name}}</div>
    <img class="dropdown-icon" src="../../../assets/dropdown.png">
    <div class="select" v-if="projectSelect.visible">
      <router-link class="select-item" v-for="p in $store.state.common.header.project.list"
        :to="baseURL + 't/' + $store.state.common.header.team.current + '/p/' + p.code + '/dashboard'" :key="p.code">
        <div class="move-icon"><img src="../../../assets/project.png" class="select-item-icon" /></div>{{p.name}}
      </router-link>
      <router-link :to="baseURL + 't/' + $store.state.common.header.team.current + '/p/setting/owner/create'"
        class="select-item" v-if="currentTeam">
        <div class="move-icon">
          <div class="move-icon-plus">＋</div>
        </div>
        <span>プロジェクトを追加</span>
      </router-link>
    </div>
  </div>

  <!-- ショートカットメニュー -->
  <div class="short-menu">
    <div class="block user-pulldown" @click="handleProfileClick">
      <div class="icon">
        <img src="../../../assets/user_666666.png">
      </div>
      <span>望月由登</span>
      <div class="list" v-if="profile.visible">
        <div class="list-item" @click="handleLogoutClick">
          <div class="menu-icon"><img src="../../../assets/logout_ffffff.png"></div>
          <span>ログアウト</span>
        </div>
      </div>
    </div>
  </div>

  <!-- プログレスバー -->
  <div v-if="$store.state.common.header.progressBar.visible" class="progress-bar">
    <md-progress-bar md-mode="indeterminate"></md-progress-bar>
  </div>
</div>