<div class="project-create-form">
  <div class="section">
    <h1>プロジェクト作成</h1>
    <p>チームメンバーと共に新しいプロジェクトを始めましょう。</p>
  </div>
  <div class="section">

    <!-- プロジェクト名 -->
    <md-field :class="pjNameClass">
      <label>新しいプロジェクト名</label>
      <md-input v-model="project.name" required :disabled="button.disabled"></md-input>
      <span class="md-helper-text">30文字まで</span>
      <span class="md-error">プロジェクト名は30文字までです。</span>
    </md-field>
    <br>

    <!-- プロジェクトコード -->
    <md-field :class="pjCodeClass">
      <label>プロジェクトコード</label>
      <md-input v-model="project.code" required :disabled="button.diabled"></md-input>
      <span class="md-helper-text">半角20文字まで</span>
      <span class="md-error">プロジェクトコードは半角20文字までです。</span>
    </md-field>
    <br>

    <!-- プロジェクト説明 -->
    <md-field :class="pjAbstractClass">
      <label>プロジェクトの説明</label>
      <md-textarea v-model="project.content" md-autogrow :disabled="button.disabled"></md-textarea>
      <span class="md-helper-text">1,000文字まで</span>
      <span class="md-error">説明文は1,000文字までです。</span>
    </md-field>
    <br>
    <br>

    <!-- メンバー選択 -->
    <div class="member-select">
      <div class="title">
        <span>Member</span>
        <input type="button" value="＋" class="add-button" @click="showDialog = true" :disabled="button.diabled">
      </div>
      <table class="member-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Member</th>
            <th>Administrator</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="member in members">
            <td>{{ member.userName }}</td>
            <td class="button-cell">
              <md-checkbox v-model="member.auth" value="1" class="md-primary" v-if="!member.isAuthor" :disabled="button.diabled"></md-checkbox>
            </td>
            <td class="button-cell">
              <md-checkbox v-model="member.auth" value="2" class="md-primary" v-if="!member.isAuthor" :disabled="button.diabled"></md-checkbox>
            </td>
            <td class="button-cell"><input type="button" value="−" class="delete-button" v-if="!member.isAuthor" @click="()=> { handleProjectMemberRemoveClick(member.userId) }"
                :disabled="button.diabled"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>

  <!-- ボタン -->
  <div class="submit-button-box">
    <md-button :md-ripple="false" :disabled="button.disabled" @click="handleCancelClick">キャンセル</md-button>
    <md-button class="md-raised md-primary" @click="handleCreateButtonClick" :disabled="button.disabled">プロジェクトを作成</md-button>
  </div>

  <!-- ダイアログ -->
  <md-dialog :md-active.sync="showDialog" class="team-member-table">
    <div>
      <table>
        <thead>
          <tr>
            <th>名前</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="teamMember in teamMembers" :key="teamMember.userId">
            <td v-if="!teamMember.disabled" @click="() => { handleProjectMemberAddClick(teamMember.userId) }">{{ teamMember.userName }}</td>
            <td v-if="teamMember.disabled" class="disabled">{{ teamMember.userName }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </md-dialog>

</div>