<div class="board-select">
  <div class="board-header">
    <div class="title">Board</div>
    <div class="flat-button add-button">
      <div class="text-icon">＋</div>
      <div class="label">ボードを作成</div>
    </div>
  </div>
  <div class="board-list">
    <div class="board">
      <div class="inner">
        <div class="header">
          <div class="icon-box">
            <div class="icon">
              <img src="../../assets/card_detail_ffffff.svg" />
            </div>
          </div>
          <div class="title-box">
            <div class="title">開発バックログ</div>
          </div>
        </div>
        <div class="body">
          <span>開発バックログ</span>
        </div>
      </div>
    </div>
    <div class="board">
      <div class="inner">
        <div class="header">
          <div class="icon-box">
            <div class="icon">
              <img src="../../assets/card_detail_ffffff.svg" />
            </div>
          </div>
          <div class="title-box">
            <div class="title">開発バックログ</div>
          </div>
        </div>
        <div class="body">
          <span>開発バックログ</span>
        </div>
      </div>
    </div>
    <div class="board">
      <div class="inner">
        <div class="header">
          <div class="icon-box">
            <div class="icon">
              <img src="../../assets/card_detail_ffffff.svg" />
            </div>
          </div>
          <div class="title-box">
            <div class="title">開発バックログ</div>
          </div>
        </div>
        <div class="body">
          <span>開発バックログ</span>
        </div>
      </div>
    </div>
    <div class="board">
      <div class="inner">
        <div class="header">
          <div class="icon-box">
            <div class="icon">
              <img src="../../assets/card_detail_ffffff.svg" />
            </div>
          </div>
          <div class="title-box">
            <div class="title">開発バックログ</div>
          </div>
        </div>
        <div class="body">
          <span>開発バックログ</span>
        </div>
      </div>
    </div>
    <div class="board">
      <div class="inner">
        <div class="header">
          <div class="icon-box">
            <div class="icon">
              <img src="../../assets/card_detail_ffffff.svg" />
            </div>
          </div>
          <div class="title-box">
            <div class="title">開発バックログ</div>
          </div>
        </div>
        <div class="body">
          <span>開発バックログ</span>
        </div>
      </div>
    </div>
    <div class="board">
      <div class="inner">
        <div class="header">
          <div class="icon-box">
            <div class="icon">
              <img src="../../assets/card_detail_ffffff.svg" />
            </div>
          </div>
          <div class="title-box">
            <div class="title">開発バックログ</div>
          </div>
        </div>
        <div class="body">
          <span>開発バックログ</span>
        </div>
      </div>
    </div>
    <div class="board">
      <div class="inner">
        <div class="header">
          <div class="icon-box">
            <div class="icon">
              <img src="../../assets/card_detail_ffffff.svg" />
            </div>
          </div>
          <div class="title-box">
            <div class="title">開発バックログ</div>
          </div>
        </div>
        <div class="body">
          <span>開発バックログ</span>
        </div>
      </div>
    </div>
    <div class="board">
      <div class="inner">
        <div class="header">
          <div class="icon-box">
            <div class="icon">
              <img src="../../assets/card_detail_ffffff.svg" />
            </div>
          </div>
          <div class="title-box">
            <div class="title">開発バックログ</div>
          </div>
        </div>
        <div class="body">
          <span>開発バックログ</span>
        </div>
      </div>
    </div>
    <div class="board">
      <div class="inner">
        <div class="header">
          <div class="icon-box">
            <div class="icon">
              <img src="../../assets/card_detail_ffffff.svg" />
            </div>
          </div>
          <div class="title-box">
            <div class="title">開発バックログ</div>
          </div>
        </div>
        <div class="body">
          <span>開発バックログ</span>
        </div>
      </div>
    </div>
    <div class="board">
      <div class="inner">
        <div class="header">
          <div class="icon-box">
            <div class="icon">
              <img src="../../assets/card_detail_ffffff.svg" />
            </div>
          </div>
          <div class="title-box">
            <div class="title">開発バックログ</div>
          </div>
        </div>
        <div class="body">
          <span>開発バックログ</span>
        </div>
      </div>
    </div>
    <div class="board">
      <div class="inner">
        <div class="header">
          <div class="icon-box">
            <div class="icon">
              <img src="../../assets/card_detail_ffffff.svg" />
            </div>
          </div>
          <div class="title-box">
            <div class="title">開発バックログ</div>
          </div>
        </div>
        <div class="body">
          <span>開発バックログ</span>
        </div>
      </div>
    </div>
    <div class="board">
      <div class="inner">
        <div class="header">
          <div class="icon-box">
            <div class="icon">
              <img src="../../assets/card_detail_ffffff.svg" />
            </div>
          </div>
          <div class="title-box">
            <div class="title">開発バックログ</div>
          </div>
        </div>
        <div class="body">
          <span>開発バックログ</span>
        </div>
      </div>
    </div>
    <div class="board">
      <div class="inner">
        <div class="header">
          <div class="icon-box">
            <div class="icon">
              <img src="../../assets/card_detail_ffffff.svg" />
            </div>
          </div>
          <div class="title-box">
            <div class="title">開発バックログ</div>
          </div>
        </div>
        <div class="body">
          <span>開発バックログ</span>
        </div>
      </div>
    </div>
    <div class="board">
      <div class="inner">
        <div class="header">
          <div class="icon-box">
            <div class="icon">
              <img src="../../assets/card_detail_ffffff.svg" />
            </div>
          </div>
          <div class="title-box">
            <div class="title">開発バックログ</div>
          </div>
        </div>
        <div class="body">
          <span>開発バックログ</span>
        </div>
      </div>
    </div>
    <div class="board">
      <div class="inner">
        <div class="header">
          <div class="icon-box">
            <div class="icon">
              <img src="../../assets/card_detail_ffffff.svg" />
            </div>
          </div>
          <div class="title-box">
            <div class="title">開発バックログ</div>
          </div>
        </div>
        <div class="body">
          <span>開発バックログ</span>
        </div>
      </div>
    </div>
    <div class="board">
      <div class="inner">
        <div class="header">
          <div class="icon-box">
            <div class="icon">
              <img src="../../assets/card_detail_ffffff.svg" />
            </div>
          </div>
          <div class="title-box">
            <div class="title">開発バックログ</div>
          </div>
        </div>
        <div class="body">
          <span>開発バックログ</span>
        </div>
      </div>
    </div>
    <div class="board">
      <div class="inner">
        <div class="header">
          <div class="icon-box">
            <div class="icon">
              <img src="../../assets/card_detail_ffffff.svg" />
            </div>
          </div>
          <div class="title-box">
            <div class="title">開発バックログ</div>
          </div>
        </div>
        <div class="body">
          <span>開発バックログ</span>
        </div>
      </div>
    </div>
    <div class="board">
      <div class="inner">
        <div class="header">
          <div class="icon-box">
            <div class="icon">
              <img src="../../assets/card_detail_ffffff.svg" />
            </div>
          </div>
          <div class="title-box">
            <div class="title">開発バックログ</div>
          </div>
        </div>
        <div class="body">
          <span>開発バックログ</span>
        </div>
      </div>
    </div>
    <div class="board">
      <div class="board-add">
        <div class="text-icon">＋</div>
        <div class="label">新しいボードを作成</div>
      </div>
    </div>
  </div>
</div>